In [8]:
import pandas as pd
import numpy as np

import pyarrow.parquet as pq

import os
import sys

from tqdm import tqdm

current_folder_path = os.path.abspath('')

#### CSV data

In [6]:
df_train_events = pd.read_csv(current_folder_path + "/train_events.csv")
df_train_events.head()

      series_id  night   event     step                 timestamp
0  038441c925bb      1   onset   4992.0  2018-08-14T22:26:00-0400
1  038441c925bb      1  wakeup  10932.0  2018-08-15T06:41:00-0400
2  038441c925bb      2   onset  20244.0  2018-08-15T19:37:00-0400
3  038441c925bb      2  wakeup  27492.0  2018-08-16T05:41:00-0400
4  038441c925bb      3   onset  39996.0  2018-08-16T23:03:00-0400

In [7]:
df_sample_submission = pd.read_csv(current_folder_path + "/sample_submission.csv")
df_sample_submission.head()

   row_id     series_id  step   event  score
0       0  038441c925bb   100   onset    0.0
1       1  038441c925bb   105  wakeup    0.0
2       2  03d92c9f6f8a    80   onset    0.5
3       3  03d92c9f6f8a   110  wakeup    0.5
4       4  0402a003dae9    90   onset    1.0

#### Parquet data

In [18]:
df_test_series = pd.read_parquet(current_folder_path + "/test_series.parquet")
df_test_series.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

In [16]:
batch_parquet = pq.ParquetFile(current_folder_path + "/train_series.parquet")

for batch in batch_parquet.iter_batches():
    df_batch_train_series = batch.to_pandas()
    display(df_batch_train_series.head())
    break
print(batch_parquet.metadata)

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

<pyarrow._parquet.FileMetaData object at 0x0000018EC7590D60>
  created_by: Arrow2 - Native Rust implementation of Arrow
  num_columns: 5
  num_rows: 127946340
  num_row_groups: 488
  format_version: 2.6
  serialized_size: 143859